body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginContainer {display: flex;align-items: center;justify-content: center;width: 100%;height: 100vh;}
.loginWrapper {border: 1px solid #ccc;min-width: 400px;padding: 35px;border-radius: 10px;}
.formGroup{display: flex;flex-direction: column;margin-bottom: 15px;}
.formLabel {color: #ccc; margin-bottom: 10px;}
.formInput {
  height:25px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.formInput:focus,.actionGroup:focus{
  border: none;
  border-bottom: 1px solid #b0b0b0;
  outline: none; 
}
.formBtn {
  min-width: 130px;
  height: 40px;
  text-align: center;
  color: #878181;
  background: #f7f7f7;
  border: none;
  font-weight: 600;
  border-radius: 30px;
  outline: none; 
  cursor: pointer;
}
.formBtn:hover {
  background: #eee;
}
.actionGroup {
  margin-top:30px;
  text-align: center;
}
.formError {
  color:#f44336;
}
.appHeader {
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: #ececec;
    height: 50px;
    color: #828282;
    box-shadow: 1px 2px 3px #ccc;
}
.appSidebar{width: 15%;
  background: #f7f7f7;
  height: calc(100vh - 60px);
  box-shadow: 1px 2px 3px #ccc}
.appMain{width: 85%;padding: 20px;}
